#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: aquamarine;
  padding: 1rem;
}


.Commentz {font-size: 250%;}

nav a {
  font-size: 150%;
  color: black;
  padding: .5rem;
}